body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:1440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:1440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:712px;
  width:2876px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:417px;
  top:397px;
  width:131px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:417px;
  top:697px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:598px;
  top:679px;
  width:211px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:64px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:19px;
  width:207px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:417px;
  top:280px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:598px;
  top:280px;
  width:287px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:833px;
  top:679px;
  width:211px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:64px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:19px;
  width:207px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:417px;
  top:529px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:627px;
  top:861px;
  width:302px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1074px;
  top:679px;
  width:211px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:64px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:2px;
  top:19px;
  width:207px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:144px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:144px;
}
#u21 {
  position:absolute;
  left:2px;
  top:64px;
  width:2876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:627px;
  top:848px;
  width:302px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:58px;
  top:28px;
  width:212px;
  height:82px;
  font-size:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:82px;
}
#u24 {
  position:absolute;
  left:2px;
  top:23px;
  width:208px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:2443px;
  top:43px;
  width:58px;
  height:58px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u26 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:2517px;
  top:62px;
  width:319px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:66px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:598px;
  top:518px;
  width:287px;
  height:56px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:56px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:598px;
  top:397px;
  width:676px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:27px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
