body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:1440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:1440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:712px;
  width:2876px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:417px;
  top:430px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:598px;
  top:414px;
  width:287px;
  height:56px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:56px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:908px;
  top:430px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:748px;
  top:546px;
  width:200px;
  height:88px;
  font-size:26px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u7_img.selected {
}
#u7.selected {
}
#u8 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:978px;
  top:546px;
  width:200px;
  height:88px;
  font-size:26px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u9_img.selected {
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1200px;
  top:546px;
  width:200px;
  height:88px;
  font-size:26px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1430px;
  top:546px;
  width:200px;
  height:88px;
  font-size:26px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1654px;
  top:546px;
  width:200px;
  height:88px;
  font-size:26px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1884px;
  top:546px;
  width:200px;
  height:88px;
  font-size:26px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:417px;
  top:876px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:598px;
  top:858px;
  width:211px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:64px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:19px;
  width:207px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:417px;
  top:280px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:598px;
  top:280px;
  width:374px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:833px;
  top:858px;
  width:211px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:64px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:19px;
  width:207px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:417px;
  top:725px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:627px;
  top:1040px;
  width:302px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1074px;
  top:858px;
  width:211px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:64px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:19px;
  width:207px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:144px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:144px;
}
#u36 {
  position:absolute;
  left:2px;
  top:64px;
  width:2876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:627px;
  top:1027px;
  width:302px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:58px;
  top:28px;
  width:212px;
  height:82px;
  font-size:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:82px;
}
#u39 {
  position:absolute;
  left:2px;
  top:23px;
  width:208px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:313px;
  top:58px;
  width:389px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:35px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:2443px;
  top:43px;
  width:58px;
  height:58px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u43 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:2517px;
  top:62px;
  width:319px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:66px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:598px;
  top:714px;
  width:287px;
  height:56px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:56px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47 {
  position:absolute;
  left:609px;
  top:572px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
