body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:1440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:1440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:712px;
  width:2876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:144px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:144px;
}
#u3 {
  position:absolute;
  left:2px;
  top:64px;
  width:2876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:313px;
  top:58px;
  width:389px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:2443px;
  top:43px;
  width:58px;
  height:58px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:2517px;
  top:62px;
  width:319px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:66px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1105px;
  top:700px;
  width:225px;
  height:53px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:53px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1052px;
  top:779px;
  width:371px;
  height:58px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:58px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:58px;
  top:28px;
  width:212px;
  height:82px;
  font-size:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:82px;
}
#u15 {
  position:absolute;
  left:2px;
  top:23px;
  width:208px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:998px;
  top:890px;
  width:394px;
  height:88px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:88px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:390px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1086px;
  top:476px;
  width:172px;
  height:172px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:172px;
}
#u19 {
  position:absolute;
  left:2px;
  top:78px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
